@model SoccerTeams.ViewModels.IndexViewModel
<h2>Каталог игроков</h2>
<p>
    @Html.ActionLink("Добавить игрока", "Create")
</p>
<table>
    <tr>
        <th>Имя игрока</th>
        <th>Возраст</th>
        <th>Позиция на поле</th>
        <th>Команда</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Players)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.ActionLink(item.Team.Name, "TeamDetails", new { id = item.TeamId })
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<p>  
</p>
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")
@using (Ajax.BeginForm("AjaxTest",
                    new AjaxOptions { UpdateTargetId = "AjaxResult", LoadingElementDuration = 3000, LoadingElementId = "loading" }))
{
    <label for="from">От</label>
    <input id="from" type="number" name="min" min="20" max="60" value=20 step="1" required>
    <label for="to">До</label>
    <input id="to" type="number" name="max" min="20" max="60" value=20 step="1" required>
    <input type="submit" value="Отобразить" />
}
<div id="AjaxResult">
    @*@Ajax.ActionLink("Результат", "AjaxTest", new { min = 20, max = 30 },
        new AjaxOptions { UpdateTargetId = "AjaxResult", LoadingElementDuration = 2000, LoadingElementId = "loading" });*@
</div>
<div id="loading" style="display:none; color:Red; font-weight:bold;">
    <p>Идет загрузка...</p>
</div>